<% if notice %>
    <alert> <%= notice%> </alert>
<%end%>

<h1><%= @user.user_name%>のmypage</h1>

<%= link_to "[ログアウト]",session_path(@user), method: :delete, data: { confirm: "本当にログアウトしますか?" }%>
<%= link_to "管理者画面", sessions_path%>