/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
*/

@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff3e0;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
  color: #F5BCA9;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #FF8000;
  box-shadow: none;
}
#navigation {
    background: #ff6f00;
}

#navigation #logo {
    width: 100px;
    text-align: center;
}

blockquote {
    color: #ffa000;
    font-size: 40px;
}